
/* .main-container{
  background-image: url();
  background-repeat: no-repeat;
  
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');
*{
  font-family: Inter;
}

.dashbord-left{
  background-color: #3867d6;
}

.dashbord-right{
  background-color: #95afc0;
}

.dashbord-right-d{
  background-color: #535c68;
}

.employee-list-container{
  background:transparent;
  color: #3867d6;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}